.quiz-container {
    font-family: "Roboto", sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
}

.quiz-container h2.question {
    font-size: 20px;
    background: #d0ecff;
    padding: 16px;
    border-radius: 8px;
    font-weight: normal;
    line-height: 1.6;
}

.quiz-container .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 20px;
}

.quiz-container .option {
    border: none;
    padding: 24px 32px;
    font-size: 18px;
    background: #1d3557;
    color: white;
}

.quiz-container button {
    cursor: pointer;
}

.option.selected {
    background: #51e351;
    color: #222;
}

.quiz-container .next-btn {
    background: #222;
    color: #fff;
    border: none;
    padding: 12px 32px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

.quiz-result {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 900px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    padding: 16px;
}

.important {
    color: #51e351;
}

.bad {
    color: red;
}